.underline {
  position: absolute;
  margin-left: 1.1em;
  height: 1px;
  background-color: rgb(100, 100, 163);
}
.underline-email {
  margin-left: 1.2em;
  width: 16%;
}
.underline-password {
  width: 24%;
}
.underline-repassword {
  width: 44%;
}

.btn-special-animation {
  position: relative;
  overflow: hidden;
  background: rgb(100, 100, 163);
  transition: all 0.3s;
}
.btn-special-animation::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  transition: left 0.5s ease;
  z-index: 0;
}
.btn-special-animation:hover::after {
  left: 0;
}
.btn-special-animation .btn-text {
  position: relative;
  z-index: 1;
  color: white;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", serif;
  overflow: hidden;
  background: rgb(75, 75, 82);
  background: radial-gradient(circle, rgb(75, 75, 82) 0%, rgb(23, 24, 25) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4b4b52",endColorstr="#171819",GradientType=1);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.form {
  color: rgb(230, 224, 224);
  font-size: 1.6rem;
}
.form__text {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  position: relative;
}
.form__text--special {
  display: inline-block;
  color: rgb(100, 100, 163);
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  padding: 0.3em 0;
}
.form__text--special::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: rgb(100, 100, 163);
  transition: width 0.3s ease;
}
.form__text--special:hover::after {
  width: 100%;
}
.form__label {
  display: flex;
  text-align: left;
  flex-direction: column;
  padding: 0.3em;
}
.form__input {
  color: #a3a1a1;
  margin: 0.5em 0;
  padding: 0.6em;
  width: 100%;
  background-color: rgb(41, 40, 40);
  transition: 0.3s;
}
.form__input:hover {
  border-color: rgb(230, 224, 224);
  border-width: 1px;
}
.form__infopasswd {
  padding: 0.1em;
}
.form__icon {
  display: inline-block;
  align-items: center;
  gap: 5px;
}
.form__btns {
  padding: 0.7em;
}
.form__btns-sub {
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  flex-direction: column;
  width: 180px;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(100, 100, 163);
}

.signup,
.signin {
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.445);
  width: 350px;
  height: 440px;
  border-radius: 3%;
  overflow: hidden;
}
.signup__title,
.signin__title {
  color: rgb(230, 224, 224);
  text-transform: uppercase;
  padding: 1em;
}

.signin {
  height: 350px;
}

input {
  border: 1px solid rgb(0, 0, 0);
  padding: 0.4em;
  border-radius: 6px;
}

.bad {
  color: rgb(172, 54, 54);
}

.medium {
  color: rgb(197, 197, 101);
}

.good {
  color: rgb(44, 128, 44);
}

.fa-lock,
.fa-envelope {
  color: rgb(0, 0, 0);
}

.show {
  opacity: 1;
  pointer-events: auto;
  animation: changeForms 0.7s ease-in-out forwards;
}

.hide {
  opacity: 0;
  pointer-events: none;
}

.error-password-singin {
  font-weight: 800;
  font-size: 1.2rem;
}

.error-password-singup {
  font-weight: 800;
  font-size: 1.2rem;
}

.error-repassword-singup {
  font-weight: 800;
  font-size: 1.2rem;
}

.error-email {
  font-weight: 800;
  font-size: 1.2rem;
}

@keyframes changeForms {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  5% {
    transform: scale(0.2);
    opacity: 0.1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}/*# sourceMappingURL=main.css.map */