@import "./colors";

.underline {
  position: absolute;
  margin-left: 1.1em;
  height: 1px;
  background-color: $accent-color;

  &-email {
    margin-left: 1.2em;
    width: 16%;
  }
  &-password {
    width: 24%;
  }

  &-repassword {
    width: 44%;
  }
}

.btn-special-animation {
  position: relative;
  overflow: hidden;
  background: $accent-color;
  transition: all 0.3s;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    transition: left 0.5s ease;
    z-index: 0;
  }

  &:hover::after {
    left: 0;
  }

  .btn-text {
    position: relative;
    z-index: 1;
    color: white;
  }
}
