*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", serif;
  overflow: hidden;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.container {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100vh;
}

h1 {
  text-transform: uppercase;
}
.box {
  width: 350px;
  height: 250px;
  border: 1px black solid;
  border-radius: 2%;

  &__text {
    padding: 1em;
  }

  &__form {
    font-size: 1.6em;

    &-btn {
      width: 75px;
      height: 35px;
      border-radius: 5px;
    }

    &-text {
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    &-label {
      display: flex;
      text-align: left;
      flex-direction: column;
      padding: 0.3em;
    }

    &-input {
      margin: 0.3em 0;
      width: 100%;
    }

    &-underline {
      position: relative;
      margin-left: 1.2em;
      height: 1px;
      width: 30%;
      background-color: rgb(32, 54, 47);

      &--password {
        width: 48%;
      }
    }

    &-infopasswd {
      padding: 0.1em;
    }

    &-icon {
      display: inline-block;
      align-items: center;
      gap: 5px;
    }
  }
}

.show {
  display: block;
}
